setg prompt [%T] %L (s:%S j:%J)

load alias
alias s "sessions -i"

alias https-make "resource /root/.msf4/https-make.rc"
alias https-listen "resource /root/.msf4/https-listen.rc"
alias nc-listen "resource /root/.msf4/nc-listen.rc"
