setg prompt [%T] %L (s:%S j:%J)

load alias
alias s "sessions -i"
alias j "jobs -l"

alias make-https "resource /root/.msf4/https.rc"
alias make-nc "resource /root/.msf4/nc-listen.rc"

set -g ExitOnSession false

loadpath /root/msf4/modules
